// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

body{
    background-color: #eaeef0;
}
/*======= Css for more options ======*/
.text-light,.text-light a{
    color:#ffffff;
}
/*======== Css for Navigation ======*/
.navbar-default{
    border-radius:0;
    box-shadow: 1px 2px 3px #999999;
}
.navbar-default .pluginSkinLight {
    line-height: 50px;
}
.navbar-default .navbar-brand{
    color:#3853f4;
}
.navbar-default .navbar-brand:hover,
.site-title,
.navbar-default .navbar-nav > li > a.sign-in{
    color:#1e51e3;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#3853f4;
}

/*============ Css for index.html =============*/
p.support{
    font-size: 20px;
}
b.total{
    border-top: 3px solid #1e51e3;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
    padding:10px;
    font-size: 40px;

}
.like-plugin{
    margin-top: 60px;
    margin-bottom: 20px;
}
a.privacy{
    color:#000;
}
a.privacy:hover{
    text-decoration: none;
    color:#1e51e3;
}
.page-plugin{
    margin-top: 20px;
}
/*=========== Css For About ==========*/
.about{
    background-color: #ffffff;
    box-shadow: 0 0 10px #999999;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px 20px;
}
.about .row{
    padding:10px 15px 10px 15px;
}
.about .row p{
    text-align: justify;
}
.main-image{
    position:relative;
    max-width: 500px;
    max-height: 500px;

}
.button{
    position:absolute;
    top:0;
    padding:71.5% 15% 2% 21%;
}
.btn{
    opacity: 0.9;
}
/*======== Css for Footer ========*/
.footer{
    background-color: black;
    padding:10px 0 5px 0;
    margin-top:10px;
}
